body {
    padding: 50px 20%;
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;    
}

h1, h2, h3, strong, bold{
    color: plum;
}

h1, h3{
    text-align: center;
}

h1{
    text-transform: uppercase;
}

h2{
    text-align: right;
    /* text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: lightslategray; */
    border-bottom: lightslategray solid thin;
}

hr{
    color: lightslategray;
    border: dotted thin;
    width: 50%;
}

p{
    color: darkslategray;
    text-align: justify;
    /* font-style: italic; */
}

#big-achievement{
    color: red;
}

.text-italic p{
    font-style: italic;
}
