body {
    padding: 50px 20%;
}

h1, h2, h3, strong, bold{
    color: plum;
}

h1, h3{
    text-align: center;
}

h2{
    text-align: right;
    /* text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: lightslategray; */
    border-bottom: lightslategray solid thin;
}

hr{
    color: lightslategray;
    border: dotted thin;
    width: 50%;
}

p{
    color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-style: italic;
    
}
